.auth {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6f6;
}

.auth .container {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  max-height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100px;
  overflow: hidden;
}

.auth-form {
  margin-top: 24px;
}

.auth-left {
  background-image: url("../../assets/auth/bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
  border-radius: 100px;
}

.auth-right {
  width: 50%;
  padding: 0 7vw;
}

.auth-title {
  font-size: 38px;
  margin-bottom: 16px;
}

.balloon-input {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .auth-title {
    font-size: 28px;
  }
  .auth-left {
    display: none;
  }
  .auth-right {
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .auth .container {
    max-height: 100vh;
    max-width: 100%;
    border-radius: 0;
  }
  .auth-left {
    border-radius: 0;
  }
}

@media (min-width: 2880px) {
  .auth-right {
    padding: 180px;
  }
}
