.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-form {
  margin-top: 24px;
}

.login-right {
  max-width: 392px;
}

.login-title {
  font-size: 38px;
  margin-bottom: 16px;
}

.balloon-input {
  margin-bottom: 16px;
}

@media (max-width: 480px) {
  .login-title {
    font-size: 28px;
  }
  .login-right {
    padding: 20px;
  }
}
