.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loginForm {
  margin-top: 24px;
}

.loginRight {
  max-width: 392px;
}

.loginTitle {
  font-size: 38px;
  margin-bottom: 16px;
}

.balloon-input {
  margin-bottom: 16px;
}

.formGroup:nth-child(1) {
  margin-bottom: 16px;
}

@media (max-width: 480px) {
  .loginTitle {
    font-size: 28px;
  }
  .loginRight {
    padding: 20px;
  }
}
